<div class="intro">
    <em>Zbutler</em> looks at Facebook profiles of your friends to suggest gifts they might like.
    Check out the gifts, if you like them buy them from <%=link_to "Amazon","http://www.amazon.com", :target => "_new"%>!
    <%=link_to "Go",friends_path(:signed_request => session[:signed_request]),:class => "go"%>
    
</div>
